{

  "UpstreamRepository": {
      "uri": "registry.access.redhat.com",
      "port": 443,
      "tlsverify": true,
      "username": "",
      "token": ""
  },

  "TargetRepository": {
      "uri": "target.atomic.registry.example",
      "port": 5000,
      "type": "atomic",
      "api": "https://target.atomic.registry.example:8443",
      "tlsverify": false,
      "username": "mimeograph",
      "token": "mytokenmytokenmytoken"
  },

  "Projects": [
      {
          "name": "rhel7",
          "comment": "Images within /rhel7 namespace",
          "images": [
              "etcd",
              "rhel-atomic"
          ]
      },
      {
          "name": "openshift3",
          "comment": "Images within /openshift3 namespace",
          "images": [
              "oauth-proxy"
          ]
      }
  ]

}
